<div class="reflect-damage-message">
    <p><strong>{{attackerName}}</strong> recibe <strong>{{reflexDamage}}</strong> puntos de daño reflejado <strong>({{damageType}})</strong> de <strong>{{targetName}}</strong> debido a su <em>"Malla de Espinas"</em>.</p>
    <hr>
    <table class="reflect-damage-table">
      <tr>
        <th>Detalles</th>
        <th>Valor</th>
      </tr>
      <tr>
        <td><strong>Atacante</strong></td>
        <td>{{attackerName}}</td>
      </tr>
      <tr>
        <td><strong>Daño Reflejado</strong></td>
        <td>{{reflexDamage}}</td>
      </tr>
      <tr>
        <td><strong>Tipo de Daño</strong></td>
        <td>{{damageType}}</td>
      </tr>
      <tr>
        <td><strong>Tirada de Daño</strong></td>
        <td>{{rollFormula}} = {{reflexDamage}}</td>
      </tr>
    </table>
  </div>
  